@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS variables */
:root {
  --background: #030c1b;
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  /* Always show the scrollbar  */
  /* overflow-y: scroll; */
}

.no-scroll {
  overflow: hidden;
}
